body{
    /* width: 640px; */
    /* margin: 100px auto; */
}

/* .title {
padding-bottom: 0.3em;
font-size: 2em;
border-bottom: 1px solid #eaecef;
} */

p {
margin-top: 18px;
margin-bottom: 16px;
text-align: center;
}

code {
padding: 0.2em 0.4em;
margin: 0;
font-size: 85%;
background-color: rgba(27,31,35,0.05);
border-radius: 3px;
}

.brand-logo {
  margin-left: 0.5em;
}

.canvas-section {
  display: flex;
  justify-content: center;
}

.control-panel {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-large {
  margin: 0.5em;
  text-align: center;
}

h4 {
margin-bottom: 26px;
}
